<div style="width:500px;height:800px; text-align: center; margin-right:0px; background: rgb(255, 255, 255); display: table-cell;" class="col-xs-6">
 
    <canvas style=" margin-top: 60%;" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  
    <p *ngFor="let x of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34]">BOX {{x+1}} Radius:- {{objectright[x].radius }}</p>
   
    
</div>
